*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #C2C1A5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: #515751;
    width: 50%;
    margin-top: 10%;
    padding-left: 30px;
    padding-top: 20px;
    color: #F5F9E9;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
}
.input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 30px;
    margin-top: 15px;
}
.input input{
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #596869;
    color: #F5F9E9;
    font-size: 1rem;
    font-weight: 500px;
}
input::placeholder{
    color: #F5F9E9;
}
input:focus{
    border: 5px solid #C2C1A5;
    outline: none;
}
.buttons{
    display: flex;
    flex-direction: row;
    width: 60px;
    gap: 10px;
    padding: 10px;
   
}
.buttons button{
    background-color: #C2C1A5;
    padding: 6px;
    border-radius: 10px;
    color:#515751;
    font-weight: 800;
}
button:hover{
    background-color:#c4c162 ;
    color: white;
}
p{
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 1.5rem;
    font-weight: 900;
}